:root{
	background-color: #54565B;
	font-family:'Press Start 2P'; 
}
body{
	margin: 0 auto;
	padding: 0 auto;
}
header{
	color: #FAF8EB;	
	font-size: 1.5em;
	text-align: center;
}
button{
	font-family: Roboto;
	width: 7em;
	margin-bottom: 1em;
	font-size: 1.2em;
}
#naveg{
	text-align:center;
	display: flex;
	color: #54565B;
	justify-content: space-evenly;
	background-color: #FAF8EB;
}
#AboutList{
	text-align: left;
	margin: 0 auto;
	font-size: 0.5em;
	width: 60%;
}
#main{
	margin: 0 auto;
	margin-top: 8em ;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#clock{
	width: 16em;
	height:  16em;
	margin: 0 auto;
	margin-bottom: 3em;
	background-image: url("https://www.imagemhost.com.br/images/2021/05/12/Asset-19px.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateY(-30%);
	align-content:  center;
}
#minsec{
	margin:0 auto;
	transform: translateY(80%);
	position: relative;
	top: 4em;
	right: -3em;
}
#instructList{
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	font-size: 0.7em;
	margin-left: 1em
}
#contactList{
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.5em;
}
i{
	transform: scale(1.5);
}
li{
	margin-bottom: 0.5em;
}
img{
	width: 50%;
}
@media screen and (max-width: 480px){
	button{
		font-size: 0.625em
	}
	#buttons{
		width: 100%;
		display: flex;
		justify-content:  space-between;
	}
	img{
		width: 14.0625%;
	}
	header{
		font-size: 20%;
		display: flex;
		justify-content: space-around;
	}
}
@media screen and (max-width: 768px){
	button{
		font-size: 0.75em;
	}

	#buttons{
		width: 100%;
		display: flex;
		justify-content:  space-between;
	}
	img{
		width: 22.5%;
	}
	header{
		font-size: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

}
@media screen and (max-width: 1024px){
	button{
		font-size: 1em;
	}
	#buttons{
		width: 100%;
		display: flex;
		justify-content:  space-between;
	}
	img{
		width: 30%;
	}
	header{
		font-size: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
